<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sky</key>
		<string>6099A6</string>
		<key>ground</key>
		<string>FCEA8B</string>
		<key>umbrellaTop</key>
		<string>FFFFFF</string>
		<key>umbrellaBottom</key>
		<string>5B3515</string>
		<key>foodBowl</key>
		<string>E89D9D</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>005F6C</string>
		<key>ground</key>
		<string>00DFFE</string>
		<key>umbrellaTop</key>
		<string>00FECB</string>
		<key>umbrellaBottom</key>
		<string>FFFEB1</string>
		<key>foodBowl</key>
		<string>FF17E9</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>2DC1F4</string>
		<key>ground</key>
		<string>CEFFDC</string>
		<key>umbrellaTop</key>
		<string>ACFFC5</string>
		<key>umbrellaBottom</key>
		<string>5C5863</string>
		<key>foodBowl</key>
		<string>FF1747</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>00A8C8</string>
		<key>ground</key>
		<string>ADE421</string>
		<key>umbrellaTop</key>
		<string>E86A5C</string>
		<key>umbrellaBottom</key>
		<string>FFFEB1</string>
		<key>foodBowl</key>
		<string>F9F2E6</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>335B7E</string>
		<key>ground</key>
		<string>F4AD8F</string>
		<key>umbrellaTop</key>
		<string>F8717E</string>
		<key>umbrellaBottom</key>
		<string>EBEBEB</string>
		<key>foodBowl</key>
		<string>D8E1F1</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>573344</string>
		<key>ground</key>
		<string>DAD6C9</string>
		<key>umbrellaTop</key>
		<string>00BOD0</string>
		<key>umbrellaBottom</key>
		<string>7A7A7A</string>
		<key>foodBowl</key>
		<string>06ECFF</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>3588CB</string>
		<key>ground</key>
		<string>E9F2F9</string>
		<key>umbrellaTop</key>
		<string>F46B49</string>
		<key>umbrellaBottom</key>
		<string>7A7A7A</string>
		<key>foodBowl</key>
		<string>06ECFF</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>5A7C8E</string>
		<key>ground</key>
		<string>FFFCB3</string>
		<key>umbrellaTop</key>
		<string>A3F7AC</string>
		<key>umbrellaBottom</key>
		<string>A8E1FF</string>
		<key>foodBowl</key>
		<string>F46B49</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>2DAFE1</string>
		<key>ground</key>
		<string>E2FFE8</string>
		<key>umbrellaTop</key>
		<string>FF005B</string>
		<key>umbrellaBottom</key>
		<string>A8E1FF</string>
		<key>foodBowl</key>
		<string>FFAF47</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>3BB6AF</string>
		<key>ground</key>
		<string>E0E4CB</string>
		<key>umbrellaTop</key>
		<string>F5E81E</string>
		<key>umbrellaBottom</key>
		<string>FFFFFF</string>
		<key>foodBowl</key>
		<string>64D2E9</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>63DBA4</string>
		<key>ground</key>
		<string>D6FFEA</string>
		<key>umbrellaTop</key>
		<string>F20553</string>
		<key>umbrellaBottom</key>
		<string>FFEC47</string>
		<key>foodBowl</key>
		<string>06F4E0</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>06004D</string>
		<key>ground</key>
		<string>00D0FD</string>
		<key>umbrellaTop</key>
		<string>FD4545</string>
		<key>umbrellaBottom</key>
		<string>ECE1C1</string>
		<key>foodBowl</key>
		<string>D2A4F2</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>00AC9B</string>
		<key>ground</key>
		<string>56dd86</string>
		<key>umbrellaTop</key>
		<string>262361</string>
		<key>umbrellaBottom</key>
		<string>D2F8FF</string>
		<key>foodBowl</key>
		<string>FD4F4E</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>0EBBC1</string>
		<key>ground</key>
		<string>E187D5</string>
		<key>umbrellaTop</key>
		<string>FFFFFF</string>
		<key>umbrellaBottom</key>
		<string>14215B</string>
		<key>foodBowl</key>
		<string>222E51</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>62B4FF</string>
		<key>ground</key>
		<string>FF8ACB</string>
		<key>umbrellaTop</key>
		<string>FF6666</string>
		<key>umbrellaBottom</key>
		<string>FFC100</string>
		<key>foodBowl</key>
		<string>C5FF00</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>FC6E02</string>
		<key>ground</key>
		<string>D2F776</string>
		<key>umbrellaTop</key>
		<string>0C1968</string>
		<key>umbrellaBottom</key>
		<string>F4F2F0</string>
		<key>foodBowl</key>
		<string>7E92FF</string>
	</dict>
	<dict>
		<key>sky</key>
		<string>44BFBC</string>
		<key>ground</key>
		<string>579C5C</string>
		<key>umbrellaTop</key>
		<string>C73838</string>
		<key>umbrellaBottom</key>
		<string>E1D66F</string>
		<key>foodBowl</key>
		<string>FFFFFF</string>
	</dict>
</array>
</plist>
